*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, rgb(218, 55, 55), rgb(0, 101, 141));
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    animation: fadeIn 0.6s ease-in-out;
}

.botão{
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #fff;
}

.botão:hover{
    background-color: black;
}

#resultado{
    width: 207px;
    background-color: #fff;
    height: 30px;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
}

@media (max-width: 400px) {
    .botão {
        font-size: 16px;
        height: 40px;
    }

    #resultado {
        height: 30px;
        font-size: 18px;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .calculadora {
        width: 300px;
        padding: 20px;
    }

    .botão {
        width: 60px;
        height: 60px; 
        font-size: 30px; 
    }

    #resultado {
        width: 280px; 
        font-size: 30px; 
    }

    .fundo {
        padding: 20px; 
    }
}

